<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG-IN</title>
</head>
<body>

    <h1>Welcome to login page</h1>

    <form action="" method="post">
            {{form.hidden_tag()}}
        <h4>Name: {{form.username}}</h4>
        <h4>Password: {{form.password}}</h4>
        {{form.submit}}
    </form>
<br>

    <p>Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
</body>
</html>
